@import url(token.css);
@import url(semantic.css);
/* @import url(base.css); */
@import "tailwindcss";



@theme {

    --color-brand: var(--semantic-brand);
    --color-brand-hover: var(--semantic-brand-hover);
    --color-brand-softt: var(--semantic-brand-soft);
    --color-background:var(--semantic-background);
    --color-surface: var(--semantic-surface);
    --color-surface-muted: var(--semantic-surface-muted);
    --color-text-primary: var(--semantic-text-primary);
    --color-text-secondary: var(--semantic-text-secondary);
    --color-text-muted: var(--semantic-text-muted);
    --color-text-inverse: var(--semantic-text-inverse);
    --color-border: var(--semantic-border); 
    --color-border-strong: var(--semantic-border-strong);
    --color-warning: var(--semantic-warning);

/*Agregacion las nuevas variables de color, tipografia para los textos de labels y placeholders*/

    --color-label: var(--semantic-text-label); /* Texto de labels y placeholder según el diseño */

    /*FUENTES DE TEXTO*/

    --font-body: var(--font-body); /*Fuente principal para textos de lectura*/
    --font-text-secondary: var(--font-text-secondary);

    /*VARIANTES DE TEXTO*/
    --font-label-weight: var(--font-weight-medium); 
    --font-weight-label: var(--font-label-weight);
    --font-weight-heading: var(--font-heading-weight);/*Peso para los textos de los labels y los headings, respectivamente*/


    /*TAMAÑO DE FUENTES*/
    --text-small: var(--fs-size-small);
    --text-mostsmall: var(--fs-size-mostsmall);


}